<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @slot.name %>
</p>

<p>
  <b>Bookable:</b>
  <%= link_to @user.name, @user.bookable  %>
</p>

<p>
  <b>Special:</b>
  <%= @slot.special ? "Yes" : "No" %>
</p>

<p>From <%= @slot.pretty_start %> to <%= @slot.pretty_end %>.</p>

<%= link_to 'Back', slots_path %>
