<h2>Click the calendar to sign up for an appointment</h2>
<div id="calendar" style="width: 600px;"></div>


<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="appt_form">
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <h2>Sign up for an appointment with <%= @bookable.user.name %></h2>
  <div class="field">
		<%= f.label :date %><br />
		<%= select_date Date.today, :prefix => :date %>
    </div>
  <div class="field">
    <%= f.label :slot_id %><br />
    <%= f.select :slot_id, @bookable.slots.map{|s| ["#{s.pretty_start} - #{s.pretty_end}", s.id]} %>
  </div>
  <div class="field">
    <%= f.label :kind %><br />
    <%= f.select :kind_id, Kind.all.map{|k| [k.name, k.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
<%= calendar_script_tag "bookables/#{@bookable.id}/events.json"%>