<table width="100%">
<tr>
<td><div id="calendar"></div></td>
<td>

<div id="appt_form" style="display: block">
<h2>Appointment Details</h2>
<p>
  <b>User:</b>
  <%= @appointment.user.name %>
</p>

<p>
  <b>With:</b>
  <%= @bookable.user.name %>
</p>

<p>
  <b>Kind:</b>
  <%= @appointment.kind.name %>
</p>

<p>
  <b>When:</b>
  <%= @appointment.start.strftime("%A, %B %d %Y</br> %I:%M %P").html_safe %>
</p>
<% if current_user.admin? || @appointment.user == current_user %> <div class="big_button"><%= link_to 'Cancel', appointment_path(@appointment), :method => :delete, :confirm => "Are you sure?" %></div><% end %>
<div class="big_button"><%= link_to 'Back', root_path %></div></div>


</td>
</tr>
</table>
<%= calendar_script_tag "appointments/for/#{current_user.id}.json?h=#{@appointment.id}" %>