
<div id="calendar" style="width: 500px;"></div>

<div id="appt_form" style="display: block">
<p>
  <b>User:</b>
  <%= @appointment.user.name %>
</p>

<p>
  <b>With:</b>
  <%= @bookable.user.name %>
</p>

<p>
  <b>Kind:</b>
  <%= @appointment.kind.name %>
</p>

<p>
  <b>At:</b>
  <%= @appointment.start.strftime("%A, %B %d %Y, %I:%M %P")%>
</p>
<% if current_user.admin? || @appointment.user == current_user %> <%= link_to 'Cancel', appointment_path(@appointment), :method => :delete %><% end %>
</div>

<%= link_to 'Back', appointments_path %>
<%= calendar_script_tag "appointments/for/#{@bookable.user.id}.json?h=#{@appointment.id}" %>