<!DOCTYPE html>
<html>
<head>
  <title>BAS is an Appointment Scheduler</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "main" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_tag do %>
idleTime = 0;
$(document).ready(function () {
    //Increment the idle time counter every minute.
    var idleInterval = setInterval("timerIncrement()", 5000); // 5 seconds

    //Zero the idle timer on mouse movement.
    $(this).mousemove(function (e) {
        idleTime = 0;
    });
    $(this).keypress(function (e) {
        idleTime = 0;
    });
})
function timerIncrement() {
    idleTime = idleTime + 1;
    if (idleTime > 11) { // 60 seconds
        window.location = "http://"+window.location.host+"/sessions/destroy"
    }
}
  <% end unless (current_user && current_user.bookable) || !(current_user) %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to image_tag('logo.png', :class => 'logo'), root_path %>
<div id="main">
<% flash.each do |name, msg| %>  
			<%= content_tag :div, msg, :id => "flash_#{name}" %>  
		<% end %>  
<%= yield %>
</div>
</body>
</html>
