<!DOCTYPE html>
<html>
<head>
  <title>BAS is an Appointment Scheduler</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "main" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to image_tag('logo.png', :class => 'logo'), root_path %>
<div id="main">
<% flash.each do |name, msg| %>  
			<%= content_tag :div, msg, :id => "flash_#{name}" %>  
		<% end %>  
<%= yield %>
</div>
</body>
</html>
